@font-face {
    font-family: Poppins;
    src: url(./resource/font/Poppins-Regular.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
  }

:root{
    --mainColor: #f43f5e;
    --secondaryColor: #ffe4e6;
    --darkerColor: #881337;
    --darkerAlt:#9f1239;
    --backgroundColor:#fff1f2;
    --shadow: #4c0519;
    --pressedColor: #f1f5f9;

}
html{height: 100%;}

body{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    
  
}
#page{
    border-radius: 100%;
    min-height: 100%;
    display: flex;
    width: 100%;
    grid-template: 1fr 4fr/ 1fr 4fr;
    place-items: stretch;
}
#sidebar{
    padding: 15px;
    height: 100vh;
    display: flex;
    width: max(250px,15%);
    flex-direction: column;
    gap: 5%;
    background-color: var(--mainColor);
    color: white;
    text-shadow: 2px 2px 20px #5c5b5b;    
    max-height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
}
.sidebarBtn{
    display: flex;
    font-size: 1em;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
    background-color: unset;

}
.sidebarBtn:hover{
    zoom: 120%;
    cursor: pointer;
}
.sidebarBtn:active{
    zoom: 110%;
    cursor: pointer;
}
.sidebarBtn img{
    width: 2em;
    color: white;
}

.featureNav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.settingNav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#content{
    min-height: 100%;
    background-color: white;
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template: 5em auto 1fr/3fr 1fr ;
    flex: 1;
}

#sticky{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1/3;
    grid-row: 1;
    position:sticky;
    top: 0;
    background-color: var(--secondaryColor);
    z-index: 2;
}
#topContent{
    background-color: var(--secondaryColor);
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    padding: 0 20px;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
#topContent button{
    font-size: 1em;
    color: white;
    background-color: var(--darkerColor);
    height: 3em;
    width: 8em;
    font-weight: 800;
    border-radius: 5em;
    border: none;
    cursor: pointer;
}
#topContent button:hover{
    background-color: var(--darkerAlt);
}
#topContent button:active{
    translate: 1px 1px;
    background-color: var(--shadow);
}
.largePfp{
    aspect-ratio: 1/1;
    width: 6em;
    border-radius: 100%;
    margin: 0.5em;
}
.greetingHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
}
#search *{
    height: 4em;
}
#searchBtn{
    
    aspect-ratio: 1/1;
    background-image: url(./resource/icons/search.svg);
    border: 0;
    background-color: unset;
}
#searchBtn:hover{
    filter:invert(55%);
    cursor: pointer;
}
#searchBtn:active{
    filter:invert(100%)
}
#searchField{
    flex: 1;
    border-radius: 20px;
    border: 2px  solid var(--darkerColor);
    padding: 0.5em;
}

#settings{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    margin: 0 1em ;
}
.frame{
    object-fit: contain;
}
#settings img{
    border-radius: 100%;
    height: 4em;
    width: 4em;
    mask-image: 100px;
    object-fit: cover;
}



#mainSection{
    grid-column: 1;
    background-color: var(--backgroundColor);
    padding: 1em;
}
#secondarySection{
    grid-column: 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr ;
    background-color: var(--backgroundColor);
    padding: 1em;
}
#announcementSection{

}
#trendingSection{

}
#logo{
    margin:2em 0;
    display: flex;
    justify-items: center;
    align-items: center;
}
#logo img{
    width: 3em;
}

#notification{
    width: 3em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: unset;
    border: none;
    background-image: url(./resource/icons/notification.svg) ;
}
#notification:hover{
    filter: invert(55%);
    cursor: pointer;
}
#notification:active{
    filter: invert(100%);
}
#mainCards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1em;
    margin: 1em;
}
.projCard{
    padding: 0.5em;
    background-color: #FFF;
    border-left: 5px solid var(--darkerColor);
    display: flex;
    flex-direction: column;
}
.projCard:hover{
    filter: invert(1%);
    translate: 0px -5px;
    transition: 0.2s;
}
.projCard img{
    width: 100%;
    min-height: 150px;
    height: 200px;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}
.buttonHolder{
    
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.cardBtn{
    aspect-ratio: 1/1;
    width: 25px;
    border: none;
    background-color: unset;
    filter: invert(60%);
    background-repeat:no-repeat;
}
.cardBtn:hover{
    filter: invert(0%);
    cursor: pointer;
}
.cardBtn:active{
    filter: invert(50%);
}
.starBtn{
    background-image: url(./resource/icons/star-plus.svg);

}
.watchBtn{
    background-image: url(./resource/icons/eye-plus.svg);

}
.forkBtn{
    background-image: url(./resource/icons/source-fork.svg);

}
#annoucementCard{
    margin-right: 1em;
    background-color: white;
    display: grid;
    border-radius: 1em;
    
    padding: 1em;
}
.announcement{
    padding: 1em 0;
    border-top: 2px dashed var(--darkerColor);;
}
.announcement:first-child{
    border-top: none;
}
.announcement:hover{
    cursor: pointer;
    background-color: var(--secondaryColor);
}
.announcement:active{
    background-color: var(--pressedColor);
}
#trendingCard{
    margin-right: 1em;
    background-color: white;
    display: grid;
    border-radius: 1em;
    padding: 1em; 
    
}
.trending{
    display: flex;
    padding: 1em;
    border-radius: 1em;
    gap: 1em;
}
.trending:hover{
    background-color: var(--secondaryColor);
    cursor: pointer;
}
.trending:active{
    background-color: var(--pressedColor) ;
}
.trending img{
    width: 50px;
    border-radius: 100%;
}
.trending .atDet{
    font-weight: 600;
}